@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #F4CE14;
  --main-color-2: #cbad17;
  --secondary-color: #495E57;
  --orange: #EE9972;
  --main-font: "Markazi Text";
  --second-font: "Karla";
}

header {
  font-family: var(--main-font);
}

h1, h2, h3 {
  font-family: var(--main-font);
}

p, li, button, span {
  font-family: var(--second-font);
  font-size: 20px;
}

button {
  cursor: pointer;
}

nav {
  background-color: #fff;
  display: grid;
  padding: .5rem 1rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding: .5rem 1rem;
}

section {
  padding: 4rem 3rem 5rem;
}

.nav-link {
  color: #000;
  text-decoration: none;
}

.nav-link:hover {
text-decoration: underline;
}

.hero-sec {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: var(--secondary-color);
  padding: 3rem 6rem;
}

.hero-text h1 {
font-size: 64px;
color: var(--main-color);
}

.hero-text h2 {
  font-size: 36px;
  color: #fff;
}

.hero-text p {
  color: #fff;
}

.main-button {
  background-color: var(--main-color);
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  margin-top: 1rem;
}

.specials-card {
  width: 327px;
  background-color: #F5F5F5;
  border-radius: 1rem 1rem 0 0;
}

.specials-text {
  padding: .5rem 1rem;
  margin-bottom: 3rem;
}

.dish-name-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.dish-name {
  font-family: var(--main-font);
  font-size: 32px;
  font-weight: bold;
}

.dish-price {
  font-size: 24px;
  color: var(--orange);
}

.delivery-price {
  font-weight: bold;
}